@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Favorit;
    font-weight: 400;
    src: url(/fonts/Favorit_Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: Favorit;
    font-weight: 500;
    src: url(/fonts/Favorit_Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: Favorit;
    font-weight: 700;
    src: url(/fonts/Favorit_Bold.ttf) format('truetype');
  }

  html {
    @apply overflow-hidden;
  }

  body {
    @apply h-full text-base text-ds-black;
  }

  body > div {
    @apply h-screen;
  }

  * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;

    @apply font-sans antialiased;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  * {
    scrollbar-color: #6c7284 transparent;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background: #6c7284;
    border: 1px solid black;
  }

  /* Custom Styles */

  .hero-gradient {
    background: linear-gradient(
      148.07deg,
      rgba(74, 168, 236, 0.35) 1.45%,
      rgba(67, 0, 209, 0.1225) 100%
    );
  }

  .home-hero-gradient {
    background: linear-gradient(
      148.07deg,
      rgba(74, 168, 236, 0.85) 1.45%,
      rgba(67, 0, 209, 0.3) 100%
    );
  }

  .title-gradient {
    @apply bg-gradient-to-br from-ds-gpurple to-ds-gblue;
  }

  .section-gradient {
    background: linear-gradient(0, #e8e8ed 0%, rgba(232, 232, 237, 0) 40.65%);
  }

  .homepage-first-section-gradient {
    background: linear-gradient(180deg, rgba(219, 212, 246, 0) 0%, #e8e8ed 100%);
  }

  .homepage-mid-section-gradient {
    background: linear-gradient(180deg, #e8e8ed 0%, rgba(232, 232, 237, 0) 40.65%);
  }

  .homepage-last-section-gradient {
    background: linear-gradient(180deg, rgba(232, 232, 237, 0) 0%, rgba(109, 68, 255, 0.28) 100%);
  }

  .homepage-stat-card-gradient {
    background: linear-gradient(148.07deg, #4aa8ec 1.45%, rgba(67, 0, 209, 0.35) 100%);
  }

  .homepage-signup-inst-card-gradient {
    background: linear-gradient(
        -148.07deg,
        rgba(74, 168, 236, 0.25) 1.45%,
        rgba(67, 0, 209, 0.0875) 100%
      ),
      #ffffff;
  }

  .homepage-stack-card {
    width: 1000px;
    height: 250px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
  }

  .homepage-stack-card:not(:last-child):after {
    text-align: center;
    margin: 0 auto;
    content: '';
    background: url('/images/homepage-stack-plus.png');
    background-position: center center;
    background-size: cover;
    width: 82px;
    height: 82px;
    z-index: 2;

    position: absolute;
    left: calc(50% - 41px);
    bottom: -41px;
  }
}
