/* Works on Firefox */
* {
  scrollbar-color: #6C7284 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #6C7284;
  border: 1px solid black;
}
